<section class="hero container max-w-screen-lg mx-auto p-5">
    <img [src]="imgSrc()" [alt]="book.name" class="mx-auto w-32 h-48" />
</section>

<h2 class="text-center px-2 font-bold text-xl">{{ book.name }}</h2>
<div>
    <div class="italic">{{ book.author }}</div>
    <div class="text-red-700 font-bold">{{book.price | currency}}</div>
    <button [disabled]="cartQty() == 0" (click)="removeFromCart()"
        class="bg-blue-500 disabled:bg-blue-100 hover:bg-blue-300 px-2 rounded-md mx-2 font-bold text-xl w-8"> -
    </button>
    <button disabled="disabled" class="w-8">{{cartQty()}}</button>
    <button (click)="addToCart()" class="bg-blue-500 hover:bg-blue-200 px-2 rounded-md mx-2 font-bold text-xl w-8"> +
    </button>
</div>